<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <title>Data on Cancer</title>
  </head>
  <body style="background-color: #facedf">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a
          class="nav-item nav-link"
          id="nav-index-tab"
          data-toggle="tab"
          href="{{ url_for('main') }} "
          role="tab"
          aria-controls="nav-index"
          aria-selected="true"
          >Detector</a
        >
        <a
          class="nav-item nav-link active"
          id="nav-graph-tab"
          data-toggle="tab"
          href="{{ url_for('graphs') }} "
          role="tab"
          aria-controls="nav-graph"
          aria-selected="false"
          >Graphs</a
        >
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-index"
        role="tabpanel"
        aria-labelledby="nav-index-tab"
      ></div>
      <div
        class="tab-pane fade"
        id="nav-graph"
        role="tabpanel"
        aria-labelledby="nav-graph-tab"
      ></div>
    </div>
    <div class="row">
      <div class="column">
        <img
          id="stateCount"
          src="{{url_for('static', filename='CountByState2.png')}}"
          alt="Count by state"
          style="width: 100%; max-width: 500px; height: 600px"
        />
      </div>
      <div class="column">
        <video
          id="stateVideo"
          width="486"
          height="252"
          style="margin-top: 17px"
          controls
        >
          <source
            src="{{url_for('static', filename='Top20states.mp4')}}"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>

        <br />
        <br />
        <br />

        <video
          id="raceVideo"
          width="486"
          height="252"
          style="display: flex"
          controls
        >
          <source
            src="{{url_for('static', filename='byRace.mp4')}}"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <img
          id="timeCount"
          src="{{url_for('static', filename='CountoverTime.png')}}"
          alt="Count over time"
          style="width: 100%; max-width: 409; height: 279px"
        />
      </div>
    </div>
    <!--
    <img
      id="countByRace"
      src="{{url_for('static', filename='CountbyRace.png')}}"
      alt="Count by race"
      style="width: 100%; max-width: 300px"
    /> -->
  </body>
</html>
